@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100&display=swap');

$text-black:#272727;
$text-orange:#ff652f;
$bg-gray:#f8f8f8;
$bg-white:#ffffff;
$btn-black: #161616;
$text-gray: #706f7b;

*{
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    margin: 0;
    padding: 0;
}
