.contact-div{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap:1.5rem;
    margin: 0 auto;
    color: $text-black;
    padding: 7rem 4rem;
    background-image: url();
    background-size: auto;
    background-position: center center;
    background-repeat:  no-repeat;

    @media (max-width:950px){
        grid-template-columns: 1fr;
        text-align: center;
    }

    &__text{
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        max-width: 30rem;

        @media(max-width:950px){
            margin: 0 auto;
            margin-bottom: 1rem;
        }

        h2{
            margin: 0;
            font-size: 2.7rem;
            line-height: 1.3;
            margin-bottom: 1rem;
        }

        p{
            font-size: 15px;
            color: $text-gray;
            line-height: 1.6;
            margin: 0;
            margin-bottom: 1rem;
        }

        a{
            text-decoration: none;
            color: $text-black;
            font-weight: 500;
            font-size: 15px;
            transition: all 0.2s;
            margin-bottom: 0.3rem;

            &:hover{
                color: $text-orange;
            }
        }
    }

    &__form{
        display: flex;
        flex-direction: column;

        form{
            display: flex;
            flex-direction: column;

            label{
                font-size: 15px;
                font-weight: 600;
                margin: 0;
                margin-bottom: 1rem;

                b{
                    color: $text-orange;
                }
            }

            input{
                background-color: #f2f2f2;
                padding: 19px 30px;
                font-size: 15px;
                border: none;
                outline: none;
                margin-bottom: 1.8rem;
            }

            textarea{
                background-color: #f2f2f2;
                height: 13.5rem;
                padding: 19px 30px;
                font-size: 15px;
                border: none;
                outline: none;
                margin-bottom: 2rem;
            }

            button{
                background-color: #ff4d30;
                padding: 1.25rem 2rem;
                box-shadow: 0 10px 15px 0 rgb(255 83 48 / 35%);
                border-radius: 0.2rem;
                cursor: pointer;
                color: white;
                border: 2px solid #ff4d30;
                font-weight: 600;
                font-size: 1.25rem;
                transition: all 0.2s;

                &:hover {
                    box-shadow: 0 10px 15px 0 rgb(255 83 48 / 60%);
                    background-color: #fa4226;
                  }
            }
        }
    }
}