.download-section{
    background-color:$bg-gray;
    background-image:url(/src/images/bg02.png) ;
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: auto;
    padding: 6.5rem 0;
    padding-left:  1.5rem;
    @media (max-width:700px){
        background-image: none;
    }
}

.download-text{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    max-width: 40rem;
    text-align: left;
    
    @media (max-width:700px){
        text-align: center;
        margin: 0 auto;

        p{
            margin: 0 auto;
        }
    }

    h2{
        font-size: 2.8rem;
        margin: 0;
    }

    p{
        font-size: 15px;
        color: $text-gray;
        line-height: 1.5;
        width: 90%;
    }

    &__btns{
        display: flex;
        gap:2rem ;
        margin-top:  2rem;

        @media (max-width:700px){
            justify-content: center;
        }

        @media (max-width:500px){
            flex-direction: column;
            align-items: center;
        }

        img{
            width: 40%;
            cursor: pointer;

            @media (max-width:550px){
                width: 15rem;
            }
        }

    }
}